@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Daily Summary</h2>
    <div class="row">
        <div class="col-md-6">
            <p>@DateTime.Now.ToString("dd MMM yyyy")</p>
            <p>OCCUPANCY: @ViewBag.Occupancy</p>
            <p>REVENUE: @ViewBag.Revenue</p>
        </div>

        <div class="col-md-6">
            <p>PENDING CHECKOUTS: @ViewBag.PendingCheckout</p>
            <p>PENDING ARRIVALS: @ViewBag.PendingArrivals</p>
            <p>INHOUSE GUESTS: @ViewBag.InHouse</p>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Rooms Management</h2>
        <p>READY: @ViewBag.RoomsReady</p>
        <p>DIRTY: @ViewBag.RoomsDirty</p>
        <p>IN USE: @ViewBag.RoomsOccupied</p>
        <p>OOO: @ViewBag.RoomsOOO</p>
        <p>     
            <a class="btn btn-default" href="~/Home/RoomManage">OPEN &raquo;</a>
        </p>
    </div>
    <div class="col-md-6">
        <h2>Reservation Management</h2>
        <p>READY: @ViewBag.RoomsReady</p>
        <p>DIRTY: @ViewBag.RoomsDirty</p>
        <p>IN USE: @ViewBag.RoomsOccupied</p>
        <p><a class="btn btn-default" href="~/Home/ResManage">OPEN &raquo;</a></p>
    </div>
</div>
