@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="height: 250px">
    <h2 class="title">DAILY SUMMARY</h2>
    <div class="row" style="padding-bottom:5px">
        <div class="col-md-6">
            <p>@DateTime.Now.ToString("dd MMM yyyy")</p>
            <p>OCCUPANCY: @ViewBag.Occupancy</p>
            <p>REVENUE: @ViewBag.Revenue</p>
        </div>

        <div class="col-md-6">
            <p>PENDING CHECKOUTS: @ViewBag.PendingCheckout</p>
            <p>PENDING ARRIVALS: @ViewBag.PendingArrivals</p>
            <p>INHOUSE GUESTS: @ViewBag.InHouse</p>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="minijumbo">
            <h2 class="title">ROOMS MANAGEMENT</h2>
            <p>READY: @ViewBag.RoomsReady</p>
            <p>DIRTY: @ViewBag.RoomsDirty</p>
            <p>IN USE: @ViewBag.RoomsOccupied</p>
            <p>OOO: @ViewBag.RoomsOOO</p>
            <p>
                <a class="btn btn-default" href="~/Rooms/Index">OPEN &raquo;</a>
            </p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="minijumbo">
            <h2 class="title">RESERVATION MANAGEMENT</h2>
            <p>READY: @ViewBag.RoomsReady</p>
            <p>DIRTY: @ViewBag.RoomsDirty</p>
            <p>IN USE: @ViewBag.RoomsOccupied</p>
            <p style="vertical-align:bottom"><a class="btn btn-default" href="~/Rooms/Index">OPEN &raquo;</a></p>
        </div>
    </div>
</div>